{% extends 'base.html.twig' %}

{% block body %}


{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}

	<h2 class="page-header">Chouse month</h2>
	{{form_start(form)}}
	{{form_widget(form)}}
	{{form_end(form)}}

{% endblock %}