
<!doctype html>
<html>
<head>
  <title>VPN Admin · Apiary</title>
  <meta charset="utf-8">

  <link rel="shortcut icon" href="https://static.apiary.io/assets/3aqvBs0H.ico">
  <link rel="apple-touch-icon-precomposed" href="https://static.apiary.io/assets/2LhCErCD.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://static.apiary.io/assets/kcRGh7aY.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://static.apiary.io/assets/3y9KoZlJ.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://static.apiary.io/assets/fX9wgjhh.png">

    <!-- atom feed autodiscovery -->
  <link rel="alternate" type="application/atom+xml" title="API changes - Atom feed" href="http://docs.vpnadmin.apiary.io/feed" />
  <link rel="alternate" type="application/rss+xml" title="API changes - RSS feed" href="http://docs.vpnadmin.apiary.io/feed/rss">
  
  <!-- Styles -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'><link rel='stylesheet' crossorigin="anonymous" href="https://static.apiary.io/assets/docs-8bc92c09.css">  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .h1, .h2, .h3, h1, h2, h3 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  </style>

  <!-- /Styles -->

</head>
  <body id="application" class="API_DOCUMENTATION">

    <!-- Header -->
<div id="applicationHeader" class="applicationHeader responsiveHeader">
              <a href="/" class="headerApiLogo"></a>
              <div id="headerResponsiveContainer" class="headerResponsiveContainer">
                <div class="headerLinks">
                  <ul class="headerLinksList">

                      <li class="headerLinkContainer">
                        <a href="/" class="headerLink  selected apiDocumentation">
                              <span class="headerLinkText">Documentation</span>
                        </a>
                      </li>
                      <li class="headerLinkContainer">
                        <a href="http://docs.vpnadmin.apiary.io/traffic" class="headerLink  inspector">
                          <span class="headerLinkText">Inspector</span>
                        </a>
                      </li>
                    
                  </ul>
                </div>
              </div>
            <div class="headerApiSwitch noSelect disabled js-ready">
              <div class="headerApiSwitchToggleLine">
                <div class="headerApiSwitchIconContainer">
                </div>
                <h3 class="row headerApiSwitchName">VPN Admin</h3>

                <span class="row headerApiSwitchDescription">
                  <span class="headerApiSwitchOwner">Obi-Van Kenobi</span>
                  <span class="headerApiSwitchBullet">•</span>
                  <span class="headerApiSwitchSubdomain">vpnadmin</span>
                </span>

                
              </div>
              <!-- /List -->

            </div>
            <div class="headerHelp">
              <span class="headerHelpIcon"></span>
              <span class="headerHelpTooltip tooltip">Help</span>
            </div>
            <div class="headerSpacer"></div>
            <div class="headerUser js-ready" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                  <div class="headerUserGuest">
                  <p class="headerUserGuestText">Apiary Powered Documentation</p>
                  <p class="headerUserGuestLogin">
                    <a href="https://login.apiary.io/login?redirect=http%3A%2F%2Fdocs.vpnadmin.apiary.io%2F">Sign in</a> with Apiary account.
                  </p>
                  </div>
            </div>
</div>
  <!-- /Header -->

    <!-- Content -->
    <div id="applicationContent" style="padding-top: 0px;">
      <div id="documentationHumanColumn" class="humanColumn customScrollbar customScrollbarLight" tabindex="1" style="width: 583px; height: 582px; margin-top: 80px; /transform: translateX(200px) translateY(80px);"><div class="humanColumnContents" style="width: 583px; /padding-bottom: 662px;">

        <!-- Name -->
        <h1 class="humanColumnApiName">
          VPN Admin  </h1>
        <!-- /Name -->

        <div class="humanColumnSection humanColumnContentsIntroduction">
          <div class="humanColumnSection humanColumnSectionIntroduction">

            <!-- Title -->
            <div class="humanColumnTitle">
              <h3 class="humanColumnTitleText">Introduction</h3>
            </div>
            <!-- /Title -->

              <!-- Description -->
                  <div class="humanColumnApiDescription markdown formalTheme">
                  <p>VPN Admin is a simple API that allows to work with users,
                  companies, generate data and provide reports</p>
                  </div>
                <!-- /Description -->

          </div>
        </div>
  
        <div class="humanColumnContentsAuth"></div>
          <div class="humanColumnSection humanColumnContentsReference">
          <div class="humanColumnSection humanColumnSectionReference">

                  <!-- Title -->
                  <div class="humanColumnTitle">
                    <h3 class="humanColumnTitleText">Reference</h3>
                  </div>
                  <!-- /Title -->

                <div class="resourceGroups">
                <div class="resourceGroup">

                  <!-- Name -->
                    <!-- /Name -->

                  <!-- Description -->
                    <!-- /Description -->

                  <!-- Resources -->
                  <div class="resources"><div class="resource">

                  <!-- Name -->
                  <h2 class="resourceName">
                    Users  </h2>
                  <!-- /Name -->

                  <!-- Parameters -->
                  <div class="row resourceParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Attributes -->
                  <div class="row resourceAttributes hidden">
                    <div class="row attributesTitle">
                      <h3 class="row attributesTitleText">Attributes</h3>
                    </div>

                    <div class="row attributes"></div>
                    <div class="row attributesKit hidden"></div>
                  </div>
                  <!-- /Attributes -->

                  <!-- Description -->
                    <!-- /Description -->

                  <!-- Actions -->
                  <div class="resourceActions"><div class="action get selected" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation get selected">
                          <div class="actionInvitationRow">
                                  <div class="actionTag get"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        List All Users      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                    <!-- /Description -->

                </div></div>
                  <!-- /Actions -->

                </div><div class="resource">

                  <!-- Name -->
                  <h2 class="resourceName">
                    Users  </h2>
                  <!-- /Name -->

                  <!-- Parameters -->
                  <div class="row resourceParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Attributes -->
                  <div class="row resourceAttributes hidden">
                    <div class="row attributesTitle">
                      <h3 class="row attributesTitleText">Attributes</h3>
                    </div>

                    <div class="row attributes"></div>
                    <div class="row attributesKit hidden"></div>
                  </div>
                  <!-- /Attributes -->

                  <!-- Description -->
                    <!-- /Description -->

                  <!-- Actions -->
                  <div class="resourceActions"><div class="action post" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation post">
                          <div class="actionInvitationRow">
                                  <div class="actionTag post"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        Create a New User      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                      <div class="actionDescription markdown formalTheme">
                      <p>You may create your own user using this action. It takes a JSON
                object containing user's email, name and company id.</p>    </div>
                    <!-- /Description -->

                </div><div class="action put" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation put">
                          <div class="actionInvitationRow">
                                  <div class="actionTag put"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        Update User      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                      <div class="actionDescription markdown formalTheme">
                      <p>You may update user using this action. It takes a JSON
                object containing user's email, name and company id.</p>    </div>
                    <!-- /Description -->

                </div><div class="action delete" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation delete">
                          <div class="actionInvitationRow">
                                  <div class="actionTag delete"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        Delete User      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                      <div class="actionDescription markdown formalTheme">
                      <p>You may delete user using this action</p>    </div>
                    <!-- /Description -->

                </div></div>
                  <!-- /Actions -->

                </div><div class="resource">

                  <!-- Name -->
                  <h2 class="resourceName">
                    Companies  </h2>
                  <!-- /Name -->

                  <!-- Parameters -->
                  <div class="row resourceParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Attributes -->
                  <div class="row resourceAttributes hidden">
                    <div class="row attributesTitle">
                      <h3 class="row attributesTitleText">Attributes</h3>
                    </div>

                    <div class="row attributes"></div>
                    <div class="row attributesKit hidden"></div>
                  </div>
                  <!-- /Attributes -->

                  <!-- Description -->
                    <!-- /Description -->

                  <!-- Actions -->
                  <div class="resourceActions"><div class="action get" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation get">
                          <div class="actionInvitationRow">
                                  <div class="actionTag get"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        List All Users      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                    <!-- /Description -->

                </div></div>
                  <!-- /Actions -->

                </div><div class="resource">

                  <!-- Name -->
                  <h2 class="resourceName">
                    Companies  </h2>
                  <!-- /Name -->

                  <!-- Parameters -->
                  <div class="row resourceParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Attributes -->
                  <div class="row resourceAttributes hidden">
                    <div class="row attributesTitle">
                      <h3 class="row attributesTitleText">Attributes</h3>
                    </div>

                    <div class="row attributes"></div>
                    <div class="row attributesKit hidden"></div>
                  </div>
                  <!-- /Attributes -->

                  <!-- Description -->
                    <!-- /Description -->

                  <!-- Actions -->
                  <div class="resourceActions"><div class="action post" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation post">
                          <div class="actionInvitationRow">
                                  <div class="actionTag post"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        Create a new Company      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                      <div class="actionDescription markdown formalTheme">
                      <p>You may create your own company using this action. It takes a JSON
                object containing company's name and quota.</p>    </div>
                    <!-- /Description -->

                </div><div class="action put" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation put">
                          <div class="actionInvitationRow">
                                  <div class="actionTag put"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        Update Company      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                      <div class="actionDescription markdown formalTheme">
                      <p>You may update company using this action. It takes a JSON
                object containing company's name and quota.</p>    </div>
                    <!-- /Description -->

                </div><div class="action delete" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation delete">
                          <div class="actionInvitationRow">
                                  <div class="actionTag delete"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        Delete Company      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                      <div class="actionDescription markdown formalTheme">
                      <p>You may delete company using this action</p>    </div>
                    <!-- /Description -->

                </div></div>
                  <!-- /Actions -->

                </div><div class="resource">

                  <!-- Name -->
                  <h2 class="resourceName">
                    Report  </h2>
                  <!-- /Name -->

                  <!-- Parameters -->
                  <div class="row resourceParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Attributes -->
                  <div class="row resourceAttributes hidden">
                    <div class="row attributesTitle">
                      <h3 class="row attributesTitleText">Attributes</h3>
                    </div>

                    <div class="row attributes"></div>
                    <div class="row attributesKit hidden"></div>
                  </div>
                  <!-- /Attributes -->

                  <!-- Description -->
                    <!-- /Description -->

                  <!-- Actions -->
                  <div class="resourceActions"><div class="action get" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation get">
                          <div class="actionInvitationRow">
                                  <div class="actionTag get"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        Fetch report      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                      <div class="actionDescription markdown formalTheme">
                      <p>Generates report for a given month</p>    </div>
                    <!-- /Description -->

                </div></div>
                  <!-- /Actions -->

                </div><div class="resource">

                  <!-- Name -->
                  <h2 class="resourceName">
                    Data  </h2>
                  <!-- /Name -->

                  <!-- Parameters -->
                  <div class="row resourceParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Attributes -->
                  <div class="row resourceAttributes hidden">
                    <div class="row attributesTitle">
                      <h3 class="row attributesTitleText">Attributes</h3>
                    </div>

                    <div class="row attributes"></div>
                    <div class="row attributesKit hidden"></div>
                  </div>
                  <!-- /Attributes -->

                  <!-- Description -->
                    <!-- /Description -->

                  <!-- Actions -->
                  <div class="resourceActions"><div class="action post" style="user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                  <!-- Invitation -->
                  <div class="actionInvitation post">
                          <div class="actionInvitationRow">
                                  <div class="actionTag post"></div>
                      
                      <!-- Name -->
                      <h4 class="actionName">
                        Generate data      </h4>
                      <!-- /Name -->

                      <!-- Icon -->
                      <div class="actionInvitationIcon"></div>
                      <!-- /Icon -->

                          </div>
                      </div>
                  <!-- Invitation -->

                  <!-- Relation -->
                    <!-- /Relation -->

                  <!-- Parameters -->
                  <div class="row actionParameters hidden"></div>
                  <!-- /Parameters -->

                  <!-- Authentication -->
                  
                    <!-- /Authentication -->

                  <!-- Description -->
                      <div class="actionDescription markdown formalTheme">
                      <p>Generates initial data</p>    </div>
                    <!-- /Description -->

                </div></div>
                  <!-- /Actions -->

                </div></div>
                  <!-- /Resources -->

                </div></div></div></div>
                  <div class="humanColumnSection humanColumnContentsDataStructures"></div>

                </div></div>

                <div class="machineColumnConsole" style="margin-top: 80px;float:none;">
                  <div style="width: calc(100% - 583px);margin-left: 583px;padding: 15px;">
                  {% block body %}{% endblock %}
                  </div>
                </div>


    </div>
    <!-- /Content -->

    <!-- Loading -->
    <div id="applicationLoading"></div>
    <!-- /Loading -->

    <!-- LoadingBar -->
    <div id="applicationLoadingBarContainer" class="hidden">
      <div id="applicationLoadingBar"></div>
    </div>
    <!-- LoadingBar -->

  </body>
</html>
